*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

}

/* for outer layer/Box named as wrapper */

.wrapper{
    height:100vh;
    width:100vw;
   background-image: linear-gradient(rgb(80, 193, 216),rgb(229, 204, 16));
   display:flex;
   align-items: center;
   justify-content: center;

}
/* creating css effect in div named button */
.button{
    height:10%;
    width:20%;
    border: 2px solid black;
    display: flex;
    align-items: center;
   justify-content: center;
   position: relative;
   z-index: 1;
   color: aliceblue;
   
}

/* creating a Black strip in button div */
.button::before{
    content:"";
   background-color: black;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   position: absolute;
   transform: scaleX(0);
   transform-origin: left;
   transition-property: all;
   transition-duration: 1.5s;
   z-index: -1;

}
.button:hover::before
{
    transform: scaleX(1);
    cursor: pointer;
    box-shadow: 2px 2px 5px  rgb(255, 149, 0),-2px -2px 5px  rgb(255, 149, 0);
}